<%- include('navbar.ejs') %>


<div class="container-fluid p-5 bg-white mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome To Admin Panel</h1>
        </div>
    </div>
</div>


<%- include('footer.ejs') %>
