<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Car Rental Website</title>
  <meta name="description"
    content="Lowcars - Hire a Car Withour Driver at Lowest Price. The Premier Self-Drive Car Rental Provider Near You. Reserve Your Ride Today! " />

  <meta name="google-play-app" content="app-id=com.vaj.lowcars" />

  <meta name="smartbanner:button-url-apple" content="https://apps.apple.com/in/app/lowcars/id6451363837" />
  <meta name="smartbanner:enabled-platforms" content="android,ios" />
<!--  -->
<script
src="https://kit.fontawesome.com/64d58efce2.js"
crossorigin="anonymous"
></script>
<!--  -->
  <link rel="stylesheet" href="/smartbanner/smart-app-banner.css" type="text/css" media="screen" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="/smartbanner/smart-app-banner.js"></script>

  <meta name="Keywords"
    content="Self Drive Car Rental,Car Rentals, Cab Rentals, Online Car Rentals,lowcars,lowcars.co.in,self drive car services,cheap car rental service in Jaipur,best car rental service. Self Drive Car Rental Service In Jaipur, Udaipur, Jodhpur, Ahmedabad" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Lowcarsin" />
  <meta name="twitter:title" content="Lowcars - Self Drive Car Rental Service | Jaipur" />
  <meta name="twitter:description"
    content="Book your car at discounted Rate. Lowest Price Guaranteed!. Best Self Drive Car Rental Service In Jaipur. Book Driverless Car in Jaipur And Enjoy the Freedom And Privacy. Wide Range Of Cars, SUV, MUV, HACHBACK,SEDAN" />

  <meta name="twitter:site" content="@lowcarsin" />
  <meta name="twitter:image" content="http://lowcars.co.in/logo_seo.jpg" />
  <meta name="twitter:image:alt" content="lowcars" />

  <meta property="og:title"
    content="Lowcars - Book Your Cab Online - Online Cab Rentals - Self Drive Car Rental Service | Best car rental service in Jaipur" />
  <meta property="og:image" content="http://lowcars.co.in/images/logo.png" />
  <meta property="og:site_name" content="Lowcars | Car Rental in Jaipur" />
  <meta property="og:description"
    content="Book your car at discounted Rate. Lowest Price Guaranteed!. Best Self Drive Car Rental Service In Jaipur. Book Driverless Car And Enjoy the Freedom And Privacy. Wide Range Of Cars, SUV, MUV, HACHBACK" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="/css/splide.min.css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" />
  <link rel="stylesheet" href="/css/select2.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
   



  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    defer></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/about_css/bootstrap-grid.css" />
  <link rel="stylesheet" href="/about_css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="/about_css/bootstrap-reboot.css" />
  <link rel="stylesheet" href="/about_css/bootstrap-reboot.min.css" />
  <link rel="stylesheet" href="/about_css/bootstrap.css" />
  <link rel="stylesheet" href="/about_css/bootstrap.min.css" />


  <!-- js -->
  <link rel="stylesheet" href="/about_js/bootstrap.bundle.js" />
  <link rel="stylesheet" href="/about_js/bootstrap.bundle.min.js" />
  <link rel="stylesheet" href="/about_js/bootstrap.js" />
  <link rel="stylesheet" href="/about_js/bootstrap.min.js" />


  <!-- bootstrap Online cdn for slider -->

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Become an Partner -->

  <link href="/favicon_io/favicon.ico" rel="icon">
  <!-- <link rel="apple-touch-icon" href="/favicon_io/android-chrome-192x192.png"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/become_partner_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/become_partner_assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/become_partner_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/become_partner_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/become_partner_assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/become_partner_assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/become_partner_assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/become_partner_assets/css/style.css" rel="stylesheet">


  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


  <!--  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

  <!--  -->

  <style>
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_nav {
    width: auto;
    height: 100px;
    /* background-image: linear-gradient(to bottom, lightseagreen, lightblue); */
    /* background-image: linear-gradient(to bottom, rgb(2, 9, 21), lightblue); */
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 58%, rgba(26,188,156,1) 100%); */
    background: linear-gradient(323deg, rgba(0,0,0,1) 6%, rgb(115, 26, 188) 39%, rgba(0,0,0,1) 72%);


    /* background-imagrgb(0, 0, 0)red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    padding:1rem;
    box-shadow: 0 0 0.5rem saddlebrown;
}

.container__logo {
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: 900;
    /* text-shadow: 0 0 1px #000; */
    font-variant: small-caps;
    /* animation: move 2s ease-in-out 0s 1; */

}
/* 
@keyframes move {
    from {
        margin-top: 100%;
    }

    to {
        margin-bottom: 100%;
    }
} */


.container__menu {
    font-size: 1.2rem;
    animation: fold 2s linear 0s 1;
    /* transition: all 2s; */
}

.container__menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-shadow: 0 0 1px #000;
    animation: fold 1s linear 0s 1;
}
.header__nav-item a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-shadow: 0 0 1px #000;
    animation: fold 1s linear 0s 1;
}

.menubtn {
    display: none;
    color: #000;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 1.6rem;
}

.closebtn {
    display: none;
    color: #000;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 1.6rem;
}

.container__menu a::selection {
    color: red;
}

@keyframes fold {
    from {
        /* transform: skew(10deg); */
        color: transparent;
        /* background-color: #000; */
    }

    to {
        /* transform: skew(160deg); */
    }
}

@media (max-width: 618px) {
    .container__menu {
        display: block;
    }

    .menubtn {
        display: block;
    }
}
@media (min-width: 620px) {

    .menubtn {
        display: none;
    }
}
.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  /* background: linear-gradient(45deg, #1abc9c, #149279); */
  background: linear-gradient(270deg, rgba(0,0,0,1) 58%, rgb(5, 5, 5) 100%);

  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}
  </style>
</head>

<body>
  <!-- header -->
  <header class="header" style="background: linear-gradient(323deg, rgba(0,0,0,1) 6%, rgba(26,188,156,1) 39%, rgba(0,0,0,1) 72%);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <div class="header__logo">
              <a href="/">
                <img src="/foot_logo.png" alt="" style="width: 100px; height: 100px" />
              </a>
            </div>

            <div class="header__menu " style="z-index: 999999999999999999999;">
              <ul class="header__nav">
                <li class="header__nav-item">
                  <a href="/" class="header__nav-link">Home</a>
                </li>
                <li class="header__nav-item">
                  <a href="/about" class="header__nav-link">About</a>
                </li>
                <li class="header__nav-item">
                  <a href="/become_an_partner" class="header__nav-link">Become a Partner</a>
                </li>

                <li class="header__nav-item">
                  <a href="/contact" class="header__nav-link">Contact</a>
                </li>
              </ul>
            </div>

           

            </div>

            <button class="header__btn" type="button">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- <div class="container_nav" >
    <div class="container__logo ">
                <img height="65px" style="margin-left: 50px;" src="/foot_logo.png" alt="" >

    </div>
    <span class="menubtn"   data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-bars"></i></span>
    <span class="closebtn" ><i class="fa-solid fa-xmark"></i></span>
   
    <div class="container__menu collapse" style="z-index: 99999999999999;" id="collapseExample">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/become_an_partner">Become a Partner</a>
      <a href="/contact">Contact</a>
    </div>
 
</div> -->
  <!-- Meta Pixel Code -->
  <script>
    !(function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod
          ? n.callMethod.apply(n, arguments)
          : n.queue.push(arguments);
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = "2.0";
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s);
    })(
      window,
      document,
      "script",
      "../connect.facebook.net/en_US/fbevents.js"
    );
    fbq("init", "1519994612084747");
    fbq("track", "PageView");
  </script>
  <noscript><img height="1" width="1" style="display: none"
      src="https://www.facebook.com/tr?id=1519994612084747&amp;ev=PageView&amp;noscript=1" /></noscript>
  <!-- End Meta Pixel Code -->

  <!-- End Meta Pixel Code -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119139014-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-119139014-1");
  </script>
  <!-- Google Tag Manager -->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
    integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css"
    integrity="sha512-uj2QCZdpo8PSbRGL/g5mXek6HM/APd7k/B5Hx/rkVFPNOxAQMXD+t+bG4Zv8OAdUpydZTU3UHmyjjiHv2Ww0PA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- end header -->
  <!-- main content -->
  <main class="main">
    <!-- home -->
  </main>
  <script>
    const menubtn = document.querySelector(".menubtn");
const closebtn = document.querySelector(".closebtn");

menubtn.onclick = () => {
    menubtn.style.display = "none"
    closebtn.style.display = "block"
}

closebtn.onclick = () => {
    closebtn.style.display = "none"
    menubtn.style.display = "block"
}
  </script>
